<!DOCTYPE html>
<html>
<head>
  <title>Town & Space Game</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<header>
  <h1>Town & Space Game</h1>
  <p id="statsBar"></p>
</header>

<nav id="menu">
  <button onclick="Game.switchMode('town')">Classic Town</button>
  <button onclick="Game.switchMode('space')">Space</button>
  <button onclick="Game.switchMode('zombies')">Zombies</button>
  <button onclick="Game.switchMode('golf')">Golf</button>
  <button onclick="Game.switchMode('soccer')">Soccer</button>
  <button onclick="Game.switchMode('racetrack')">Racetrack</button>
  <button onclick="Game.save()">Save</button>
  <button onclick="Game.load()">Load</button>
</nav>

<main>
  <canvas id="gameCanvas" width="1000" height="640"></canvas>
</main>

<p id="helpText"></p>

<script src="/static/js/state.js"></script>
<script src="/static/js/placeholder_modes.js"></script>
<script src="/static/js/racetrack.js"></script>
<script src="/static/js/main.js"></script>

</body>
</html>